<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key</key>
	<string>S7FS97ytVU394xYHqnXu-g</string>
	<key>secret</key>
	<string>dzNCYZeYbzdA9wSn-9FxvcGIDEI</string>
	<key>token</key>
	<string>PlcFZKzDSv7oTr1dn6xe2CgZocMn-pgh</string>
	<key>tokenSecret</key>
	<string>4TqMDQZXnRhDpl1x0IyeNKMKX3M</string>
</dict>
</plist>
